@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color:#3c8dbc">CHƯƠNG TRÌNH HOÁ ĐƠN VAT</h1>
       
    </div>

@section Scripts {
 
       
 }